/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* ====================ani_arrow======================== */
.theme-menu__button:disabled::before {
    visibility:visible;
    opacity: 0.7;
    animation: moving 0.5s  infinite alternate ease-in;
    transition: all 0.5s;
}

@keyframes moving {
    from {
      translate: 0 0;
    }
  
    to {
      translate: 5px 0px;
    }
}
/* ====================ani_hart======================== */
.is-liked  {
    animation: blink 0.3s ease-in;
  }
  
  @keyframes blink {
    from {
      transform: scale(1.5);
    }
  
    to {
      transform: scale(1);
    }
  }
  
  .is-liked .sparks {
    animation: sparks 0.3s 0.3s ease-in;
  }
  
  @keyframes sparks {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
/* =========================ani_last_cart======================== */
.img_8 {
    background-image: url(../images/8.jpg);
    filter: saturate(200%);
    filter: drop-shadow(16px 16px 20px var(--main_color)) drop-shadow(-16px 0 20px var(--main_color));
    visibility:visible;
    animation: blind 1s  infinite alternate ease-in;
    transition: all 1s;
  }
  
  @keyframes blind {
    from {
      filter: drop-shadow(16px 16px 20px var(--main_color)) drop-shadow(-16px 0 20px var(--main_color));
    }
  
    to {
      filter: drop-shadow(16px 16px 20px transparent) drop-shadow(-16px 0 20px transparent);
    }
  }