/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* ===========================basic_batton======================== */

.button_core {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font_accent);
  font-size: 14px;
  font-weight: var(--font_weigh-acent-rglr);
  line-height: 12.6px;
  color: var(--main_color);
  border: 2px solid var(--main_color);
  background-color: var(--background_color);
  transition: 0.3s ease;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
}

.button_core::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main_color);
  transition: 0.5s ease-in-out;
  z-index: -1;
  transform: translateX(-100%);
}

.button__text {
  mix-blend-mode:difference;
  color: var(--color_text_button);
}

.button_core:hover::before {
  transform: translateX(0);
}

.button_core:hover .svg__floppy-container {
  fill: var(--color_text_button);
  mix-blend-mode: difference;
}

.button_core:focus {
  outline: none;
}

.button_core:focus-visible {
  border: 2px solid var(--main_color);
  box-shadow: 2px 2px var(--main_color);
}

/*================dialog====================*/
.my-popover {
  width: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  background-color: var(--background_color);
  border: 1px solid var(--main_color);
  text-align: center;
  margin-top: clamp(26.813rem, 23.754rem + 13.052vw, 35.5rem);
}

.my-popover::backdrop {
  background-color: var(--background_color-popover);
}

.dialog__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 13px;
}

.dialog_floppy_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: center;
  gap: 25px;
}

.svg__dilog-cont {
  height: 39px;
  width: 39px;
}

.text__dialog {
  width: 100%;
  font-family: var(--font_accent);
  font-size: 14px;
  font-weight: var(--font_weigh-acent-rglr);
  line-height: 21px;
  text-transform: uppercase;
  text-align: left;
  color: var(--main_color);
}

.dialog__button {
  width: clamp(18.313rem, 19.105rem + -3.38vw, 16.063rem);
  height: 38px;
  font-family: var(--font_accent);
  font-size: 14px;
  font-weight: var(--font_weigh-acent-rglr);
  line-height: 21px;
  text-align: center;
  color: var(--main_color);
  background-color: var(--background_color);
  border: 1px solid var(--main_color);
}

.dialog_floppy_span {
  display:inline-flex;
  align-items: center;
}

/*================body====================*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;       
  background-image: var(--grad_background_color);
  background-size: cover;
}

/*================heder====================*/

.header {
  display: flex;
  margin: 102px auto 102px auto;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  border: 2px solid var(--main_color);
  background-color: var(--background_color);
  width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);

}

.heade__section {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  border: 2px solid var(--main_color);
  background-color: var(--background_color);
}

.header__title {
  font-family: var(--font_accent);
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  font-weight: var(--font_weigh-acent-rglr);
  line-height: 65px;
  text-transform: uppercase;

  color: var(--main_color);
  margin: clamp(6.813rem, 6.218rem + 2.535vw, 8.5rem) 0px clamp(0.438rem, 0.239rem + 0.845vw, 1rem) 0px;
}

.header__text {
  font-family: var(--font_accent);
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);/*!!!!!! */
  font-weight: var(--font_weigh-acent-rglr);
  line-height: 23px;
  text-transform: uppercase;
  
  color: var(--main_color);
  margin: 0px 0px clamp(1.313rem, 1.18rem + 0.563vw, 1.688rem) 0px;
}

.theme-menu {
  margin: 0px 0px 19px 0px;
}

.theme-menu__button {
  position: relative;
  font-family: var(--font_accent);
  font-size: 14px;
  font-weight: var(--font_weigh-acent-rglr);
  line-height: 14px;
  text-transform: uppercase;
  border: 1px solid transparent;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--main_color);
  transition: 0.3s ease;
  cursor: pointer;
  padding: 1px 7px 0 0;
}

.theme-menu__button::before {
  content: '▶';
  visibility: hidden;
  animation: none;
  display: inline-block;
  color: var(--main_color);
}

.theme-menu__list li:not(:last-child,:first-child) {
  margin: 5px 0;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

/* .theme-menu__button:disabled::before {
  visibility:visible;
  opacity: 0.7;
  animation: moving 0.5s  infinite alternate ease-in;
  transition: all 0.5s;
} */

.theme-menu__list .theme-menu__item {
  display: block;
}

.theme-menu__item .theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__item .theme-menu__button:focus-visible::after {
  width: 75%;
}

.theme-menu__button:hover:disabled::after {
  pointer-events: none;
  width: 0%;
}

.theme-menu__item .theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 3px;
  background-color: var(--main_color);
  transition: width 0.6s;
  margin-left: 25px;
}

/* @keyframes moving {
  from {
    translate: 0 0;
  }

  to {
    translate: 5px 0px;
  }
} */

/*==========================================================main===================================================*/
/*==========================================================card===================================================*/
.main__card {
  margin: auto;
  margin-bottom: 52px;
  width: clamp(23.438rem, 16.373rem + 30.141vw, 43.5rem);
  border: 2px solid var(--main_color);
  background-color: var(--background_color);
}

.card__title {
  font-family: var(--font_text);
  font-size: var(--font_size_text);
  font-variation-settings: 'wght' var(--font_weigh-main-heading);
  line-height: clamp(1.625rem, 1.537rem + 0.376vw, 1.875rem);
  text-align: left;
  color: var(--main_color);
  padding: 0 10px;
}

.filter_invert {
/*   background-image: url(../images/8.jpg); */
  filter: invert(100%);
}

.filter_contrast {
 /*  background-image: url(../images/2.jpg); */
  filter: contrast(150%);
}

.filter_hue-rotate {
  /* background-image: url(../images/3.jpg); */
  filter: hue-rotate(0.5turn);
}

.filter_grayscale {
/*   background-image: url(../images/4.jpg); */
  filter: grayscale(50%);
}

.filter_neon-border {
/*   background-image: url(../images/5.jpg); */
  filter: drop-shadow(16px 16px 20px var(--main_color)) drop-shadow(-16px 0 20px var(--main_color));
}

.filter_saturate {
/*   background-image: url(../images/6.jpg); */
  filter: saturate(200%);
}

.filter_sad {
/*   background-image: url(../images/7.jpg); */
  filter: brightness(50%) grayscale(0.8) sepia(100%);
}

/* .filter_blind-border {
  background-image: url(../images/8.jpg);
  filter: saturate(200%);
  filter: drop-shadow(16px 16px 20px var(--main_color)) drop-shadow(-16px 0 20px var(--main_color));
  visibility:visible;
  animation: blind 1s  infinite alternate ease-in;
  transition: all 1s;
}

@keyframes blind {
  from {
    filter: drop-shadow(16px 16px 20px var(--main_color)) drop-shadow(-16px 0 20px var(--main_color));
  }

  to {
    filter: drop-shadow(16px 16px 20px transparent) drop-shadow(-16px 0 20px transparent);
  }
} */

.card__img {
  position: relative;

  border-bottom: 1px solid var(--main_color);
  border-top: 1px solid var(--main_color);

  color: var(--label_text_color);
  font-family: var(--font_accent);
  font-weight: var(--font_weigh-acent-rglr);
}

.img_seting {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}

.watermark {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px clamp(0.688rem, 0.379rem + 1.315vw, 1.563rem);
  text-align: right;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.787rem + 0.376vw, 1.125rem);
  
  text-shadow:
  -1px 0 var(--label_text-shadow_color), 
  0 1px var(--label_text-shadow_color), 
  1px 0 var(--label_text-shadow_color), 
  0 -1px var(--label_text-shadow_color);
}

@supports((text-stroke: 1px var(--label_text-shadow_color)) or (-webkit-text-stroke: 1px var(--label_text-shadow_color))) {
  .watermark {
    -webkit-text-stroke: 1px var(--label_text-shadow_color);
    text-stroke: 1px var(--label_text-shadow_color);
    text-shadow: none;
  }
}

.card__text {
  font-family: var(--font_text);
  font-size: var(--font_size_text);
  font-variation-settings: 'wght' var(--font_weigh-main-text);
  line-height: 21px;
  text-align: left;
  color: var(--main_color);
  padding: 25px 25px 0px 25px;
}

.card__footer-section {
  display: flex;
  justify-content: right;
  margin: 25px;
  gap: 6px;
}


.card__icon-button {
  display: flex;
  width: 38px;
  height:38px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.contour {
  transition: fill 0.1s linear;
  fill: var(--main_color);
}

.main-body {
  transition: fill 0.3s linear;
  fill: transparent;
}

.core {
  transition: fill 0.3s 0.03s linear;
  fill: transparent;
}

/* ========================focus-heart====================== */

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main_color);
}

/* =====================hover-heart========================= */

.card__icon-button:hover .main-body {
  fill: var(--main_color);
  transition: fill 0.3s  0.05s linear;
}

.card__icon-button:hover .core {
  fill: var(--main_color);
  transition: fill 0.3s linear;
}

/* =====================active-heart========================= */

.card__icon-button:active .main-body {
  fill: var(--color_fill_heart);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .core {
  fill: var(--color_fill_heart);
  transition: fill 0.3s linear;
}

/* =====================is-liked========================= */

.is-liked .core {
  fill: var(--color_fill_heart);
  transition: fill 0.3s linear;
}

.is-liked .main-body {
  fill: var(--color_fill_heart);
  transition: fill 0.3s 0.05s linear;
}

.is-liked .contour {
  fill: var(--color_fill_heart);
  transition: fill 0.3s 0.06s linear;
}


/* =============================ani=============================== */

/* .is-liked  {
  animation: blink 0.3s ease-in;
}

@keyframes blink {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */

/* ============================================================== */

.sparks {
  opacity: 0;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

/*============================================footer=====================================================*/

.footer__button {
  flex-flow: row wrap;
  width: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  padding: 15px 18px;
  gap: 8px;
  margin: 0 auto 100px auto;
}

.svg__floppy-container {
  fill: var(--color_text_button);
  mix-blend-mode: difference;
  width: 66px;
}

.footer_floppy_size {
  width: 21px;
}

@media (width <= 375px) {
  .footer_floppy_size {
    width: 32px;
  }
  .footer__button {
    gap: 6px;
  }
} 