/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root {
    --main_color: rgba(0, 204, 20, 1);
    --font_accent: "PressStart2P", sans-serif;
    --font_text: "Inter", sans-serif;
    --background_color: rgba(0, 0, 0, 1);
    --background_color-popover: rgba(0, 0, 0, 0.7);
    --font_size_text: 18px;
    --grad_background_color:   
        repeating-linear-gradient(90deg,#000, #000 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(180deg,#007f0c, #004306);
    --label_text-shadow_color: rgba(0, 0, 0, 0.354);
    --label_text_color: rgba(0, 204, 20, 0.354);
    --color_text_change_button: rgba(0, 0, 0, 1);
    --color_fill_heart: #FF0000;
    --favi_color: rgba(255, 255, 255, 1);
}

@media (prefers-color-scheme: light) {
    :root {
        --main_color: rgba(0, 0, 0, 1);
        --font_accent: "PressStart2P", sans-serif;
        --font_text: "Inter", sans-serif;
        --background_color: rgba(255, 255, 255, 1);
        --background_color-popover: rgba(0, 0, 0, 0.7);
        --font_size_text: 18px;
        --grad_background_color:   
            repeating-linear-gradient(90deg,#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
            repeating-linear-gradient(180deg,#e7e7e7, #1a1a1a);
        --label_text-shadow_color: rgba(255, 255, 255, 0.354);
        --label_text_color: rgba(0, 0, 0, 0.354);
        --color_text_change_button: rgba(255, 255, 255, 1);
        --color_fill_heart: #FF0000;
        --favi_color: rgba(0, 0, 0, 1);
    }
}

.theme-dark {
    --main_color: rgba(0, 204, 20, 1);
    --font_accent: "PressStart2P", sans-serif;
    --font_text: "Inter", sans-serif;
    --background_color: rgba(0, 0, 0, 1);
    --background_color-popover: rgba(0, 0, 0, 0.7);
    --font_size_text: 18px;
    --grad_background_color:   
        repeating-linear-gradient(90deg,#000, #000 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(180deg,#007f0c, #004306);
    --label_text-shadow_color: rgba(0, 0, 0, 0.354);
    --label_text_color: rgba(0, 204, 20, 0.354);
    --color_text_change_button: rgba(0, 0, 0, 1);
    --color_fill_heart: #FF0000;
    --favi_color: rgba(255, 255, 255, 1);
}

.theme-light {
    --main_color: rgba(0, 0, 0, 1);
    --font_accent: "PressStart2P", sans-serif;
    --font_text: "Inter", sans-serif;
    --background_color: rgba(255, 255, 255, 1);
    --background_color-popover: rgba(0, 0, 0, 0.7);
    --font_size_text: 18px;
    --grad_background_color:   
        repeating-linear-gradient(90deg,#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(180deg,#e7e7e7, #1a1a1a);
    --label_text-shadow_color: rgba(255, 255, 255, 0.354);
    --label_text_color: rgba(0, 0, 0, 0.354);
    --color_text_change_button: rgba(255, 255, 255, 1);
    --color_fill_heart: #FF0000;
    --favi_color: rgba(0, 0, 0, 1);
}