/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

@media (prefers-color-scheme: light) {
    :root {
        --main_color: rgba(0, 0, 0, 1);
        --background_color: rgba(255, 255, 255, 1);
        --grad_background_color:
            repeating-linear-gradient(180deg, #d3d3d3 1px 3px, transparent 3px 5px),
            repeating-linear-gradient(90deg, #d3d3d3 1px 3px, transparent 3px 5px),
            linear-gradient(180deg, #e7e7e7, #1a1a1a);
        --label_text-shadow_color: rgba(255, 255, 255, 0.354);
        --label_text_color: rgba(0, 0, 0, 0.354);
        --color_text_change_button: rgba(255, 255, 255, 1);
        --favi_color: rgba(0, 0, 0, 1);
        --font_weigh-main-heading: 700;
        --font_weigh-main-text: 400;
        --color_text_button: rgba(255, 255, 255, 1);
    }
}

.theme-dark {
    --main_color: rgba(0, 204, 20, 1);
    --background_color: rgba(0, 0, 0, 1);
    --grad_background_color:   
        repeating-linear-gradient(180deg, #000 1px 3px, transparent 3px 5px),
        repeating-linear-gradient(90deg, #000 1px 3px, transparent 3px 5px),
        linear-gradient(180deg, #007f0c, #004306);
    --label_text-shadow_color: rgba(0, 0, 0, 0.5);
    --label_text_color: rgba(0, 204, 20, 0.5);
    --color_text_change_button: rgba(0, 0, 0, 1);
    --favi_color: rgba(255, 255, 255, 1);
    --font_weigh-main-heading: 785;
    --font_weigh-main-text: 465;
    --color_text_button: rgba(0, 204, 20, 1);
}

.theme-light {
    --main_color: rgba(0, 0, 0, 1);
    --background_color: rgba(255, 255, 255, 1);
    --grad_background_color:   
        repeating-linear-gradient(180deg, #d3d3d3 1px 3px, transparent 3px 5px),
        repeating-linear-gradient(90deg, #d3d3d3 1px 3px, transparent 3px 5px),
        linear-gradient(180deg, #e7e7e7, #1a1a1a);
    --label_text-shadow_color: rgba(255, 255, 255, 0.354);
    --label_text_color: rgba(0, 0, 0, 0.354);
    --color_text_change_button: rgba(255, 255, 255, 1);
    --favi_color: rgba(0, 0, 0, 1);
    --font_weigh-main-heading: 700;
    --font_weigh-main-text: 400;
    --color_text_button: rgba(255, 255, 255, 1);
}